/* Base styles */
body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    color: oklch(0.71 0.02 261.33);
}

/* Headings */
h1, h2 {
    color: oklch(0.93 0.01 261.82);
}

/* Sections */
section {
    padding: 7em 12em;
    display: flex;
    gap: 3rem;
}

/* Dark background sections */
#live-debugger,
#plugin-marketplace {
    background-color: #111826;
}

/* Colored background sections */
#no-code-editor,
#bot-dashboard {
    background-color: oklch(0.27 0.03 259.08);
}

/* Buttons */
button {
    border-radius: 0.7em;
    padding: 1em 1.2em;
    cursor: pointer;
    border: none;
    outline: none;
}

#join {
    color: oklch(0.93 0.01 261.82);
    background-color: oklch(0.63 0.20 8.73);
}

/* Images */
#editor, #debugger, #dashboard, #plugins {
    max-width: 512px;
    max-height: 320px;
    border: 2px solid oklch(0.27 0.03 259.08);
    margin: 0 auto;
}

#debugger {
    max-height: 348px;
}

#dashboard {
    max-height: 291px;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    #no-code-editor,
    #live-debugger,
    #bot-dashboard,
    #plugin-marketplace {
        flex-direction: column;
        padding: 3em 2em;
    }
}
